node_red_data/flows.json
[
    {
        "id": "4fabdd92bff37767",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4aa0a3e6ca5fcb6a",
        "type": "mqtt-broker",
        "name": "service-mqtt",
        "broker": "emqx-mqtt",
        "port": "1883",
        "clientid": "team1",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bfd2772144dac1bc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "56ae97b55b938604",
        "type": "ui_group",
        "name": "Gyro X",
        "tab": "bfd2772144dac1bc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "335e57779167d645",
        "type": "ui_group",
        "name": "Gyro Y",
        "tab": "bfd2772144dac1bc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e3f321c96c8b0f2",
        "type": "ui_group",
        "name": "Gyro Z",
        "tab": "bfd2772144dac1bc",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e229b951b6a29a3",
        "type": "ui_group",
        "name": "Finger",
        "tab": "bfd2772144dac1bc",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bebd0f2c03be27a0",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f1698516ce4c2823",
        "type": "mqtt in",
        "z": "4fabdd92bff37767",
        "name": "",
        "topic": "See-it2022/arm/move",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4aa0a3e6ca5fcb6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 300,
        "wires": [
            [
                "eb0429652dd7c337",
                "aea4dc4e8fc4f442",
                "1bd0ef48ce137794",
                "c688840f53b99d75",
                "a252f86502d1c2ff"
            ]
        ]
    },
    {
        "id": "5f5263a6cf8a040f",
        "type": "mqtt in",
        "z": "4fabdd92bff37767",
        "name": "",
        "topic": "See-it2022/glove/grasp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4aa0a3e6ca5fcb6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 500,
        "wires": [
            [
                "0155c2b8539ad9f3",
                "da510aa0bc180f00"
            ]
        ]
    },
    {
        "id": "eb0429652dd7c337",
        "type": "debug",
        "z": "4fabdd92bff37767",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "da510aa0bc180f00",
        "type": "debug",
        "z": "4fabdd92bff37767",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "0155c2b8539ad9f3",
        "type": "function",
        "z": "4fabdd92bff37767",
        "name": "function grasp",
        "func": "return [msg, msg, msg, msg, msg];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 480,
        "wires": [
            [
                "0c47f0e3ac0f0a2f",
                "02371db768245726"
            ],
            [
                "a3232baba3c2b17b",
                "fd116111863db568"
            ],
            [
                "341c73eff414ea23"
            ],
            [
                "1b5d3007fbb97c88"
            ],
            [
                "961dce6ea8fbfe7e"
            ]
        ]
    },
    {
        "id": "aea4dc4e8fc4f442",
        "type": "function",
        "z": "4fabdd92bff37767",
        "name": "function xyz",
        "func": "var x = {}\nx.payload = msg.payload.x\n\nvar y = {}\ny.payload = msg.payload.y\n\nvar z = {}\nz.payload = msg.payload.z\nreturn [x,y,z];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 260,
        "wires": [
            [
                "50e358a0ca13f7b1",
                "95ab971a8b9f9cca"
            ],
            [
                "5fe1c0a96db37eaa",
                "b0a69418f49f7414"
            ],
            [
                "98d2f2890c75a08b",
                "9052a1f91d9700c3"
            ]
        ]
    },
    {
        "id": "02371db768245726",
        "type": "debug",
        "z": "4fabdd92bff37767",
        "name": "Finger 1 Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.finger1",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "fd116111863db568",
        "type": "debug",
        "z": "4fabdd92bff37767",
        "name": "Finger 2 Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.finger2",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 400,
        "wires": []
    },
    {
        "id": "1bd0ef48ce137794",
        "type": "ui_gauge",
        "z": "4fabdd92bff37767",
        "name": "",
        "group": "56ae97b55b938604",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Axis X",
        "label": "units",
        "format": "{{msg.payload.x}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "c688840f53b99d75",
        "type": "ui_gauge",
        "z": "4fabdd92bff37767",
        "name": "",
        "group": "335e57779167d645",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Axis Y",
        "label": "units",
        "format": "{{msg.payload.y}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "a252f86502d1c2ff",
        "type": "ui_gauge",
        "z": "4fabdd92bff37767",
        "name": "",
        "group": "3e3f321c96c8b0f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Axis Z",
        "label": "units",
        "format": "{{msg.payload.z}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "50e358a0ca13f7b1",
        "type": "ui_chart",
        "z": "4fabdd92bff37767",
        "name": "",
        "group": "56ae97b55b938604",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "PolarChart X",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f75b2",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 830,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5fe1c0a96db37eaa",
        "type": "ui_chart",
        "z": "4fabdd92bff37767",
        "name": "",
        "group": "335e57779167d645",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "PolarChart Y",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "180",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 830,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "98d2f2890c75a08b",
        "type": "ui_chart",
        "z": "4fabdd92bff37767",
        "name": "",
        "group": "3e3f321c96c8b0f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "PolarChart Z",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "180",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 830,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0c47f0e3ac0f0a2f",
        "type": "ui_level",
        "z": "4fabdd92bff37767",
        "group": "8e229b951b6a29a3",
        "order": 2,
        "width": 1,
        "height": 8,
        "name": "",
        "label": "Finger 1",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.finger1",
        "peaktime": 3000,
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "a3232baba3c2b17b",
        "type": "ui_level",
        "z": "4fabdd92bff37767",
        "group": "8e229b951b6a29a3",
        "order": 3,
        "width": 1,
        "height": 8,
        "name": "",
        "label": "Finger 2",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.finger2",
        "peaktime": 3000,
        "x": 910,
        "y": 440,
        "wires": []
    },
    {
        "id": "341c73eff414ea23",
        "type": "ui_level",
        "z": "4fabdd92bff37767",
        "group": "8e229b951b6a29a3",
        "order": 4,
        "width": 1,
        "height": 8,
        "name": "",
        "label": "Finger 3",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.finger3",
        "peaktime": 3000,
        "x": 910,
        "y": 520,
        "wires": []
    },
    {
        "id": "1b5d3007fbb97c88",
        "type": "ui_level",
        "z": "4fabdd92bff37767",
        "group": "8e229b951b6a29a3",
        "order": 5,
        "width": 1,
        "height": 8,
        "name": "",
        "label": "Finger 4",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.finger4",
        "peaktime": 3000,
        "x": 870,
        "y": 580,
        "wires": []
    },
    {
        "id": "961dce6ea8fbfe7e",
        "type": "ui_level",
        "z": "4fabdd92bff37767",
        "group": "8e229b951b6a29a3",
        "order": 6,
        "width": 1,
        "height": 8,
        "name": "",
        "label": "Finger 5",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.finger5",
        "peaktime": 3000,
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "95ab971a8b9f9cca",
        "type": "ui_chart",
        "z": "4fabdd92bff37767",
        "name": "",
        "group": "56ae97b55b938604",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Time Series Axis X",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b0a69418f49f7414",
        "type": "ui_chart",
        "z": "4fabdd92bff37767",
        "name": "",
        "group": "335e57779167d645",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Time Series Axis Y",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9052a1f91d9700c3",
        "type": "ui_chart",
        "z": "4fabdd92bff37767",
        "name": "",
        "group": "3e3f321c96c8b0f2",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Time Series Axis Z",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "309e86f89b9c7b4d",
        "type": "mqtt in",
        "z": "4fabdd92bff37767",
        "name": "",
        "topic": "See-it2022/touch",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4aa0a3e6ca5fcb6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 740,
        "wires": [
            [
                "9fc64bd5593f94a3"
            ]
        ]
    },
    {
        "id": "9fc64bd5593f94a3",
        "type": "function",
        "z": "4fabdd92bff37767",
        "name": "function touch",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 740,
        "wires": [
            [
                "c89d2150fd67c7fe"
            ]
        ]
    },
    {
        "id": "c89d2150fd67c7fe",
        "type": "ui_text",
        "z": "4fabdd92bff37767",
        "group": "8e229b951b6a29a3",
        "order": 1,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "Touch Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 850,
        "y": 740,
        "wires": []
    }
]